body{
    background-color: black;
    color: aliceblue;
    font-size: 500%;
    padding: 0;
}
.margin{
    margin: 0;
}
.main{
    text-align: center;
}
.image{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 70%
}
div{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}